.autor {
	font-weight: bold;
}

.minuta {
	text-decoration: underline;
}

.etykietaTreściWpisu {
	display: block;
}

textarea {
	height: 30%;
	width: 100%;
}

.liczba {
	text-align: right;
}

body {
	background-color: #fff;
	color: #000;
	max-width: 800px;
	margin: 0 auto;
	font: 12px/16px "Helvetica Neue", "Arial", sans-serif;
}

body .łączeNagłówkowe {
	text-decoration: none;
}

h1 {
	color: #9c9e9f;
	font: 46px sans;
}

h1 .O {
	color: #cc0f16;
	font-weight: bold;
	font-size: larger;
}

.szukajka {
	float: right;
}

article {
	border: 1px solid #ccc;
	padding: 5px;
	margin: 5px 0;
}

article header {
	background-color: #9c9e9f;
	color: #fff;
	margin: -5px;
	padding: 2px;
}

article:first-child header {
  background-color: #cc0f16;
}

table {
	border-collapse: collapse;
	width: 100%;
}

td, th {
	border: thin solid black;
	border-width: 0 thin;
}

tr:nth-child(odd) {
	background-color: #ddd;
}

.cite {
	margin-bottom: 0;
	background-color: #ddd;
}
.bbquote > p {
	margin-top: 0;
}

.bbquote {
	margin: 0;
	padding-left: 30px;
	border: thin solid #ddd;
}
